

body{
	background: linear-gradient(to bottom, #e6e6ed 0%, #9cacbf 100%);
}

head{
    
	background: #eee;
}

a{    
	text-decoration: none;
}

title{}

h1{}

h2{}

p{}

form{}

table{}

thead{}

tbody{}

